<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>
</head>

<body>
    <div class="container" style="font-size: 18px; line-height: 5px;">
        <div class="container">
            <div class="mt-2">
                <p>Tên cửa càng: ABC</p>
                <p>Địa chỉ: ABC</p>
                <p>Điện Thoại: 0909888555</p>
            </div>
            <div style="border:0.5px dashed"></div>
            <h5 style="text-align: center">HÓA ĐƠN CHI TIẾT</h5>
            <p style="text-align: center; font-size: 16px"><b>Mã Hóa Đơn: HD0000</b></p>
            <p style="text-align: center; font-size: 12px"><b>Ngày Lập: 31/12/2019</b></p>
            <div class="row">
                <div class="col-sm-6">
                    <div style="line-height: 10px;">
                        <p>Tổng Tiền Hàng: 0000 đ</p>
                        <p>Giảm Giá: 0000 đ</p>
                        <p style="font-size: 20px"><b>Khách Cần Trả: 0000 đ</b></p>
                        <p>Khách Thanh Toán:0000 đ</p>
                        <p>Tiền thừa trả khách: 0000 đ</p>

                        <hr>
                        <p>Thu Ngân: Nguyen Van A</p>
                    </div>
                    
                </div>
                <div class="col-sm-6">
                </div>
            </div>
        </div>

        <div style="border:0.5px dashed"></div>
        <div>
            <table class="table  align-items-center table-flush accordion  " id="accordionRow">
                <thead class="boder">
                    <tr>
                        <th scope="col">Stt</th>
                        <th scope="col">Tên Món Ăn</th>
                        <th scope="col">SL</th>
                        <th scope="col">Đơn Giá</th>
                        <th scope="col">Thành Tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="y in details">
                        <td>{{$index+1}}</td>

                        <td>{{y.monan_NAME}}</td>
                        <td>
                            1
                        </td>
                        <td>{{y.hoadonchitiet_PRICE}}</td>
                        <td>{{y.hoadonchitiet_PRICE*y.hoadonchitiet_SOLUONG}}</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
    </div>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>