<div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Thực Đơn</h3>
          <div class="float-md-right mb-3">
            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalAddFoods"><i class="fas fa-plus-circle"></i> Thêm Mới</button>
            <button type="button" class="btn btn-secondary btn-sm" disabled>Button</button>
            <button type="button" class="btn btn-secondary btn-sm" disabled>Button</button>
            <div class="modal fade" id="modalAddFoods" tabindex="-1" role="dialog" aria-labelledby="modalAddFoods"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content ">
                <div class="modal-header">
                  <h1 class="modal-title" id="modalAddFoods">
                    Thêm Món Ăn
                  </h1>
                  <hr>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" target="_self" role="tab"
                        aria-controls="info" aria-selected="true">Thông tin</a>
                    </li>
                  </ul>
                  <div class="card-body border">
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="home-tab">
                        <form ng-submit="addResources()" ng-name="formAddMaterial">
                          <div class="container">
                            <div class="row">
                              <div class="col-6">
                                <div class="form-group row">
                                  <label for="input1" class="col-sm-4 col-form-label form-control-sm">Mã món ăn:</label>
                                  <div class="col-sm-7">
                                    <input ng-model="resourcesNo" type="text" class="form-control form-control-sm"
                                      id="input1" required>
                                    <!-- <span class="valid-feedback" ng-show="formAddMaterial.resourcesNo.$touched && formAddMaterial.resourcesNo.$invalid"> Không bỏ rỗng trường này</span> -->
                                  </div>
                                </div>

                                <div class="form-group row">
                                  <label for="inputName" class="col-sm-4 col-form-label form-control-sm">Tên món ăn:</label>
                                  <div class="col-sm-7">
                                    <input ng-model="inputName" type="text" class="form-control form-control-sm"
                                      id="inputName" placeholder=" " required>
                                  </div>
                                </div>

                                <div class="form-group row">
                                  <label for="inputType" class="col-sm-4 col-form-label form-control-sm">Loại món ăn:</label>
                                  <div class="col-sm-7">
                                    <select class="form-control-sm" id="inputType" ng-model="TypeId" required>
                                      <option ng-repeat="x in resourcesType" value="{{x.id}}">{{x.loainguyenlieu_NAME}}
                                      </option>
                                    </select>
                                    <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#exampleModalCenter" disabled><i class="fas fa-plus-square"></i></button>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label for="inputNum" class="col-sm-4 col-form-label form-control-sm">Giá bán:</label>
                                  <div class="col-sm-7">
                                    <input ng-model="inputPrice" type="text" class="form-control form-control-sm "
                                      id="inputNum" placeholder="0" required>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label for="inputNum" class="col-sm-4 col-form-label form-control-sm">Đơn Vị Tính:</label>
                                  <div class="col-sm-7">
                                    <input ng-model="inputDate" type="text" class="form-control form-control-sm "
                                      id="inputNum" placeholder="0" required>
                                  </div>
                                </div>
                              </div>
                              <div class="col-6">
                                <label for="inputNum" class="col-sm-4 col-form-label form-control-sm">Hình Ảnh:</label>
                                <div class="container" ng-controller="UploadController">
                                  <div class="row">
                                    <div class="card-body border">
                                      <div class="col-6">
                                        <img ng-src="{{imageSrc}}" width="150" height="150" alt="">
                                      </div>
                                    </div>
                                    <div class="col-6"></div>
                                  </div>
                                  <div class="row mt-1">
                                    <div class="file-field">
                                      <div class="btn form-control-file btn-sm btn-success ml-2">
                                        <input type="file" ng-file-select="onFileSelect($files)" ng-model="imageSrc"
                                          onchange="angular.element(this).scope().setFile(this)">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="text-right mt-3">
                            <button type="submit" class="btn btn-success btn-sm">Lưu & thêm mới</button>
                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Đóng</button>
                          </div>
                        </form>
                      </div>
                      <div class="tab-pane fade" id="detail" role="tabpanel" aria-labelledby="profile-tab">
                      </div>
                      <div class="tab-pane fade" id="detailDescription" role="tabpanel" aria-labelledby="contact-tab">
                        ...
                      </div>
                      <div class="tab-pane fade" id="moreDishs" role="tabpanel" aria-labelledby="contact-tab">...</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush accordion" id="accordionRow">
            <thead class="thead-light">
              <th scope="col">STT</th>
              <th scope="col">Hình Ảnh</th>
              <th scope="col">Mã Món Ăn</th>
              <th scope="col">Tên Món Ăn</th>
              <th scope="col">Loại thực đơn</th>
              <th scope="col">Giá bán </th>
              <th scope="col">Giá Đơn Vị Tính</th>
              <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr data-toggle="collapse" data-target="#accordion" class="clickable">
                <th>
                    <span>_</span>
                </th>
                <th>
                    <a href="#" class="avatar rounded-circle mr-3">
                        <img alt="Image placeholder" src="../assets/img/theme/react.jpg">
                    </a>
                </th>
                <th scope="row">
                  <div class="media align-items-center">
                    
                    <div class="media-body">
                      <span class="mb-0 text-sm">SP000016</span>
                    </div>
                  </div>
                </th>
                <td>
                  Lemon Tea
                </td>
                <td>
                  <span class="badge badge-dot">
                    Khác
                  </span>
                </td>
                <td>
                  <span class="mr-2">15,000</span>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">15,000</span>
  
                  </div>
                </td>
                <td class="text-right">
                  <div class="dropdown">
                    <a class="btn btn-sm btn-icon-only text-light" href="#!tables" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="8" id="accordion" class="collapse">
                  <div class="container">
                    <div class="row">
                      <div class="card-body border">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Thông Tin</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Thẻ Kho</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Tồn Kho</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Món Thêm</a>
                          </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="container border">
                              <h2 mt-1>Thuốc Lá</h2>
                              <div class="row">
                                <div class="col-9">
                                  <div class="container">
                                    <div class="row mt-3">
                                      <div class="col-3 ">
                                        <i class="fas fa-check "></i>
                                        <a href="#">Được bán trực tiếp</a>
                                      </div>
                                      <div class="col-3 ">
                                        <i class="fas fa-times"></i>
                                        <a href="#">Được tích điểm</a>
                                      </div>
                                      <div class="col-3 ">
                                        <i class="fas fa-times"></i>
                                        <a href="#">Không là món thêm (Extra topping)</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row p-2 mt-3 ">
                                <div class="col-4">
                                  <div class="card">
                                    <img src="https://via.placeholder.com/250x300" />
                                  </div>
                                </div>
                                <div class="col-4">
                                  <table>
                                    <tr class="p-2">
                                      <td>
                                        Mã món ăn:
                                      </td>
                                      <td>
                                        SP000025
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        Loại ón ăn:
                                      </td>
                                      <td>
                                        Khác
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        Giá Bán:
                                      </td>
                                      <td>
                                        30,000
                                      </td>
                                    </tr>
                                  </table>
                                </div>
                                <div class="col-4">
                                  <table>
                                    <tr>
                                      <td>
                                        Mô tả:
                                      </td>
                                      <td>
                                        <div class="card">
                                          <!-- content -->
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        Ghi Chú:
                                      </td>
                                      <td>
                                        <!-- content -->
                                      </td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                            </div>
                            <div>
                              <div class="float-md-right mt-3">
                                <button type="button" class="btn btn-success " data-toggle="modal" data-target="#modifyFoods"><i class="fas fa-plus-circle"></i> Cập Nhật</button>
                                <!-- Modal -->
                                <div class="modal fade" id="modifyFoods" tabindex="-1" role="dialog"
                                aria-labelledby="modifyFoodsTitle" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h2 class="modal-title" id="modifyFoodsTitle">Cập Nhật Thông Tin Món Ăn
                                      </h2>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <form ng-submit="updateResources()">
                                        <div class="container">
                                          <div class="row">
                                            <div class="col-6">
                                              <div class="form-group row">
                                                <label for="input1" class="col-sm-4 col-form-label form-control-sm">Mã
                                                  món ăn:</label>
                                                <div class="col-sm-7">
                                                  <input ng-model="resourcesDetails.nguyenlieu_NO" type="text"
                                                    class="form-control form-control-sm" id="input1"
                                                    placeholder="{{resourcesDetails.nguyenlieu_NO}}">
                                                </div>
                                              </div>

                                              <div class="form-group row">
                                                <label for="inputName"
                                                  class="col-sm-4 col-form-label form-control-sm">Tên món ăn:</label>
                                                <div class="col-sm-7">
                                                  <input ng-model="resourcesDetails.nguyenlieu_NAME" type="text"
                                                    class="form-control form-control-sm" id="inputName"
                                                    placeholder="{{resourcesDetails.nguyenlieu_NAME}}">
                                                </div>
                                              </div>

                                              <div class="form-group row">
                                                <label for="inputType"
                                                  class="col-sm-4 col-form-label form-control-sm">Loại món ăn:</label>
                                                <div class="col-sm-7">
                                                  <select class="form-control-sm" id="inputType"
                                                    ng-model="resourcesDetails.loainguyenlieu_LOAINGUYENLIEU_ID">
                                                    <option ng-repeat="x in resourcesType" value="{{x.id}}">
                                                      {{x.loainguyenlieu_NAME}}</option>
                                                  </select>
                                                </div>
                                              </div>
                                              <div class="form-group row">
                                                <label for="inputNum"
                                                  class="col-sm-4 col-form-label form-control-sm">Giá bán:</label>
                                                <div class="col-sm-7">
                                                  <input ng-model="resourcesDetails.nguyenlieu_PRICE" type="text"
                                                    class="form-control form-control-sm " id="inputNum"
                                                    placeholder="{{resourcesDetails.nguyenlieu_PRICE}}">
                                                </div>
                                              </div>
                                              
                                            </div>
                                            <div class="col-6">
                                              <div class="col-6">
                                                <label for="inputNum"
                                                  class="col-sm-4 col-form-label form-control-sm">Hình Ảnh:</label>
                                                <div class="container" ng-controller="UploadController">
                                                  <div class="row">
                                                    <div class="card-body border">
                                                      <div class="col-6">
                                                        <img ng-src="{{imageSrc}}"
                                                          src="assets/img/resources/{{x.nguyenlieu_IMG}}" width="150"
                                                          height="150" alt="">
                                                      </div>
                                                    </div>
                                                    <div class="col-6"></div>
                                                  </div>
                                                  <div class="row mt-1">
                                                    <div class="file-field">
                                                      <div class="btn form-control-file btn-sm btn-success ml-2">
                                                        <input type="file" ng-file-select="onFileSelect($files)"
                                                          ng-model="imageSrc"
                                                          onchange="angular.element(this).scope().setFile(this)">
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="text-right">
                                          <button type="submit" class="btn btn-success ">Lưu</button>
                                          <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Đóng</button>
                                        </div>
                                      </form>
                                    </div>
                                    <div class="modal-footer">
                                      <!-- content -->
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- <button type="button" class="btn btn-danger "><i class="fas fa-lock"></i> Ngừng Kinh Doanh</button> -->
                              <button type="button" class="btn btn-danger " data-toggle="modal"
                                data-target="#c{{x.nguyenlieu_ID}}"><i class="far fa-trash-alt"></i> Xóa</button>
                              <div class="modal fade" id="c{{x.nguyenlieu_ID}}" tabindex="-1" role="dialog"
                                aria-labelledby="modalDeleteMaterials" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                  <div class="modal-content ">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="modalDeleteMaterials">Xác Nhận Xóa</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <p style="white-space: normal">Bạn sẽ xóa sản phẩm có mã là
                                        <b>{{resourcesDetails.nguyenlieu_NO}}</b> có tên là
                                        <b>{{resourcesDetails.nguyenlieu_NAME}}</b></p>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" ng-click="deleteResources(x)" class="btn btn-secondary"
                                        data-dismiss="modal">Đồng ý</button>
                                      <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              </div>
                            </div>
                          </div>
                          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- Dark table -->
  </div>