<div class="row">
  <div class="col">
    <div class="card shadow">
      <div class="card-header">
        <h1>Đặt Bàn</h1>
      </div>
      <div class="card-body">
        <div>
          <div class="row">
            <div class="col-sm-6 border">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#ban" target="_self" role="tab" aria-controls="home" aria-selected="true">BÀN</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#menu" target="_self" role="tab" aria-controls="profile" aria-selected="false">THỰC ĐƠN</a>
                </li>

              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="ban" role="tabpanel" aria-labelledby="home-tab">
                  <div class="card-deck border">
                    <a ng-repeat="x in tables" ng-click="getTable(x)">
                      <!--repeat here -->
                      <div class="card-block mb-2 mt-2">

                        <div class="card" style="width: 10.2rem;">
                          <img class="card-img-top p-4" src="assets\img\icons\dinner-table.png" alt="Card image cap" width="120px" height="150px">
                          <div class="card-footer borde">
                            <p class="card-text" style="text-align: center;">Bàn {{x.ban_NO}}</p>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>

                <div class="tab-pane fade show " id="menu" role="tabpanel" aria-labelledby="home-tab">
                  <div class="card-deck border">
                    <a ng-repeat="x in foods" ng-click="addFood(x)">
                      <!--repeat here -->
                      <div class="card-block mb-2 mt-2">

                        <div class="card" style="width: 10rem;">
                          <img class="card-img-top p-4" src="assets\img\resources\Mon_an_va_nuoc\{{x.monan_IMG}}" alt="Card image cap" width="150px" height="150px">
                          <div class="card-footer borde">
                            <p class="card-text" style="text-align: center;">{{x.monan_NAME}}</p>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
              <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
            </div>
            <div class="col-sm-6">
              <div class="card border">
                <div class="card-header">
                  <h1>Bàn {{tableIndex}}</h1>
                </div>
                <div class="card-body" style="height:40em; overflow-y: scroll;">
                  <div class="table-responsive">
                    <table class="table  align-items-center table-flush accordion table-hover table-striped " id="accordionRow">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">Stt</th>
                          <th scope="col"></th>
                          <th scope="col">Tên Món Ăn</th>
                          <th scope="col">Số Lượng</th>
                          <th scope="col">Đơn Giá</th>
                          <th scope="col">Thành Tiền</th>
                        </tr>
                      </thead>
                      <tbody ng-repeat="y in array">

                            <tr ng-if="y.IdBan==tableIndex" ng-repeat="z in y.value">
                              <td >{{$index+1}}</td>
                              <td><i class="fas fa-times " style="color: #F5365C; font-size: 20px" ng-click="deleteFood($index)"></i></td>
                              <td >{{z.foodName}}</td>
                              <td>
                                <input type="number" name="" value="1" style="width:4em">
                              </td>
                              <td>{{z.foodPrice}}</td>
                              <td>50.000</td>
                            </tr>
                           </tbody> </table> </div> </div> <div class="card-footer">
                          <div  class="float-right">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#btnPayment">
                              Thanh Toán
                            </button>
                            <!-- Modal -->
                            <div class="modal fade modal-custom" id="btnPayment" tabindex="-1" role="dialog" aria-labelledby="btnPaymentTitle" aria-hidden="true">
                              <div class="modal-dialog modal-xl " role="document ">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="btnPayment">
                                      <h1>Thanh Toán</h1>
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <div><span>Bàn 1</span></div>
                                    <div class="container">
                                      <hr>
                                      <div class="row">
                                        <div class="col-md-6">

                                          <div class="table-responsive">
                                            <table class="table  align-items-center table-flush accordion  " id="accordionRow">
                                              <thead class="thead-light">
                                                <tr>
                                                  <th scope="col">Stt</th>
                                                  <th scope="col">Tên Món Ăn</th>
                                                  <th scope="col">Số Lượng</th>
                                                  <th scope="col">Đơn Giá</th>
                                                  <th scope="col">Thành Tiền</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr>
                                                  <td>1</td>
                                                  <td>Thịt cầy</td>
                                                  <td>
                                                    <input type="number" name="" value="" style="width:4em">
                                                  </td>
                                                  <td>30.000</td>
                                                  <td>50.000</td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </div>
                                        </div>
                                        <div class="col-md-6 border-left">
                                          <table class="table  align-items-center table-flush accordion border-0 ">
                                            <tbody>
                                              <tr>
                                                <td>Tổng Tiền Hàng</td>
                                                <td>30,000</td>
                                              </tr>
                                              <tr>
                                                <td>Giảm Giá</td>
                                                <td>0</td>
                                              </tr>
                                              <tr>
                                                <td><b>Khách Cần Trả</b></td>
                                                <td><b style="color: #F5365C;">30.000</b></td>
                                              </tr>
                                              <tr>
                                                <td>Khách Thanh Toán</td>
                                                <td><input type="text" value="" /></td>
                                              </tr>
                                              <tr>
                                                <td>Tiền Thừa Trả Khách </td>
                                                <td>000000</td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-success">Thanh Toán</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
