@media (min-width: 768px) {
    .modal-custom .modal-xl {
      width: 100%;
     max-width:1200px;

    }


  }
  @media(max-width:807px){
    .form-search-custom{
      margin: 2em auto;
    }
  }

.choosen{
  background-color: #05BB01;
}
